[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="{{ login_host }}"  #this  is assigned in var files.
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target